bin/Debug/net9.0/CRM_Application_C-.dll
bin/Debug/net9.0/CRM_Application_C-.exe
bin/Debug/net9.0/CRM_Application_C-.exe
bin/Debug/net9.0/Newtonsoft.Json.dll
bin/Debug/net9.0/CRM_Application_C-.dll
bin/Debug/net9.0/CRM_Application_C-.exe
bin/Debug/net9.0/CRM_Application_C-.dll
bin/Debug/net9.0/CRM_Application_C-.exe
bin/Debug/net9.0/CRM_Application_C-.pdb
bin/Debug/net9.0/CRM_Application_C-.staticwebassets.endpoints.json
obj/Debug/net9.0/apphost.exe
obj/Debug/net9.0/CRM_Application_C-.AssemblyInfo.cs
obj/Debug/net9.0/CRM_Application_C-.AssemblyInfoInputs.cache
obj/Debug/net9.0/CRM_Application_C-.dll
obj/Debug/net9.0/CRM_Application_C-.pdb
obj/Debug/net9.0/CRM_Application_C-.sourcelink.json
obj/Debug/net9.0/ref/CRM_Application_C-.dll
obj/Debug/net9.0/refint/CRM_Application_C-.dll
obj/Debug/net9.0/staticwebassets.build.endpoints.json
obj/Debug/net9.0/staticwebassets.build.json
obj/Debug/net9.0/staticwebassets/msbuild.CRM_Application_C-.Microsoft.AspNetCore.StaticWebAssetEndpoints.props
